ion-toolbar {
    --background: #8e714f;
}

ion-title {
    color: #fff;
}

ion-toolbar {
    ion-buttons {
        ion-button {
            color: #fff;
        }
    }

    ion-back-button {
        color: #fff;
    }
}