ion-toolbar {
    --background: #8e714f;
}

ion-title {
    color: #fff;
}

ion-toolbar {
    ion-buttons {
        ion-button {
            color: #fff;
        }
    }
}

.list-md {
    padding-top: 0px;
    padding-bottom: 0px;
}