<ion-tabs>

<ion-tab-bar slot="bottom">

  <ion-tab-button tab="word">
    <ion-icon name="search-outline"></ion-icon>
    <!-- <ion-label>Home</ion-label> -->
  </ion-tab-button>

  <ion-tab-button tab="bookmark">
    <ion-icon name="bookmark-outline"></ion-icon>
    <!-- <ion-label>Bookmark</ion-label> -->
  </ion-tab-button>

  <ion-tab-button tab="history">
    <ion-icon name="document-text-outline"></ion-icon>
    <!-- <ion-label>History</ion-label> -->
  </ion-tab-button>

</ion-tab-bar>

</ion-tabs>